@media(max-width: 1550px){
    main{
        .section-principal{
            .img-torta-principal{
                width: 90%;
                height: auto;
                background-position: 80% 20%;
                h1{
                    font-size: 220px;
                    margin: auto 40px;
                }
            }
        }
        .section-productos{
            .card-producto-contenier{
                gap: 25px;
            }
        }
    }
}