.header{
    background-color: rgba(225, 205, 139, 0.873);
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    align-items: center;
    .navBar{
        display: flex;
        list-style: none;
        gap: 30px;
    }
        a{
            img{
                width: 100px;
                height: 100px;
            }
        }
        .navBar{
            display: flex;
            list-style: none;
            gap: 30px;
            .ul-navbar{
                display: flex; 
        }
    }
    .ul-navbar{
        display: flex; 
        .li-navbar{
            list-style: none;
            a{
                .img-navbar{
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
    .navBar li a:hover{
        color: rgb(235, 96, 117);
    }
    
    .navBar li a{
        text-decoration: none;
        color: black;
    }
}