@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*
font-family: "Kantumruy Pro", sans-serif;
font-family: "Kaushan Script", cursive;
font-family: "Lobster", sans-serif;
font-family: "Roboto", sans-serif;
*/



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}